body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#converted, #converted2,#errorMsg  { color: red; font-weight: bold; font-size:large;          }
a {
  color: #00B7FF;
}
